/* PC */

@media (min-width: 992px) {
  .mobie-header {
    display: none;
  }
}

/* tablet && mobie */
@media (max-width: 991.98px) {
  /* ẩn navbar */
  .navbar {
    display: none;
  }
  /* chuyển logo vào giữa */
  .header__top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    top: 10px;
    translate: -50% -50%;
  }
  .action {
    position: absolute;
    top: -20px;
    right: -12%;
    display: flex;
    flex-direction: column; /* Xếp dọc nếu cần */
    align-items: center;
    gap: 10px;
  }
  /* căn lại vị trí menu */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-drawer {
    padding: 60px;
    position: fixed;
    background-color: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .close-menu {
    width: 24px;
    color: #fff;
  }
  #navbar-list__mobie {
    margin-top: 35px;
  }
  .navbar__list {
    margin-top: 25px;
    flex-direction: column;
  }
  .navbar__link {
    display: block;
    text-align: left;
    font-size: 2rem;
  }
  .navbar__link:hover {
    background-color: #6612bb;
  }
  .hero {
    flex-direction: column;
    row-gap: 50px;
  }
  .hero__content {
    width: 80%;
    text-align: center;
    margin: 22px auto;
    order: 2;
  }
  .hero__media {
    order: 1;
  }
  .hero_row {
    justify-content: center;
  }
  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .service__img {
    width: 100%;
  }

  .service__list {
    text-align: center;
  }
  .service__item {
    width: 90%;
    text-align: start;
  }
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .about-row {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .about__img--small {
    display: none;
  }
  .about__media {
    width: 100%;
  }
  .about__img--big {
    width: 100%;
  }
  .about-content {
    width: 80%;
  }
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .team-item__thumb {
    margin: 0 auto;
  }
  .install__img {
    display: none;
  }
  .install__content {
    margin: 0 auto;
  }
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }
  .blog__list {
    order: 1;
  }
  .blog__content {
    order: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog__content--heading {
    width: 90%;
  }
  .top__footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-content {
    text-align: center;
  }
}

/* tablet */
@media ((min-width: 768px) and (max-width: 991.98px)) {
  /*  */
  .footer__hidden {
    display: none;
  }
  .top__footer {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }
  .showonmobie {
    display: none;
  }
}

/* mobie */
@media (max-width: 767.98px) {
  .action {
    display: none;
  }
  .menu-header__icon {
    top: 14px;
  }
  .menu-drawer {
    inset: 0 20% 0 0;
    padding: 40px;
  }
  .navbar__item {
    list-style: none;
  }
  .separate {
    border-top: 2px solid #8c8b8c;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .hero__img--small {
    display: none;
  }
  .about__img--big {
    width: 100%;
    height: auto;
  }
  .hero__heading {
    font-size: 3rem;
  }
  .hero__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .service {
    padding: 70px 0;
  }
  .service__desc {
    width: 93%;
  }
  .service__img {
    width: 100%;
    height: auto;
  }
  .work__desc {
    width: 93%;
  }
  .work-item {
    padding: 20px;
  }
  .about {
    margin-top: 20px;
    padding: 40px 0;
  }
  .section-heading {
    font-size: 3rem;
  }
  .team__list {
    grid-template-columns: 1fr;
  }
  .install__inner {
    margin: 40px 0;
    padding: 0 8px;
  }
  .install__content {
    min-width: 250px;
  }
  .install__desc {
    font-size: 1.3rem;
  }
  .blog__list {
    flex-direction: column;
    row-gap: 30px;
  }
  .blog__content--heading {
    text-align: center;
  }
  .appointment__inner {
    padding: 30px 5px;
  }
  .top__footer {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .footer__copyright {
    margin-top: 20px;
  }
}
