* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* ==================common================= */
.container {
  width: 1170px;
  max-width: calc(100%-48px);
  margin: 0 auto;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
}
.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}
.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
  margin-top: 28px;
}
.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #575f66;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  cursor: pointer;
}
.control__btn:hover {
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
  transition: 0.25s;
}
.control-icon__next {
  rotate: 180deg;
}
/* ================header=================== */
.header {
  padding-top: 30px;
  background: var(--header-bg);
  min-height: 100vh;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.navbar__link {
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  padding: 8px 21px;
}
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 transparent;
}
.navbar__link--active:before {
  position: relative;
  top: 1px;
  right: 8px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
.action__login {
  color: #c9d2da;
  text-align: right;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  padding: 8px 28px;
}
.action__signup {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
  font-style: normal;
}
/* ===================hero=================== */
.hero {
  display: flex;
  align-items: center;
  padding-top: 76px;
}
.hero__content {
  width: 44%;
}
.hero__media {
  flex: 1;
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67;
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
}
.hero__image {
  display: flex;
  justify-content: end;
  align-items: center;
}
.hero__img {
  object-fit: cover;
}
.hero__img--large {
  border-radius: 6px;
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}
.hero__img--small {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
}
/* =================service================== */
.service {
  padding: 170px 0;
}
.service__heading,
.service__desc {
  text-align: center;
}
.service__desc {
  width: 468px;
  margin: 18px auto 0;
}
.service__row {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}
.service__item {
  display: flex;
  width: 470px;
  padding: 21px;
  border-radius: 10px;
  background: #fff;
  transition: 0.25s;
}
.service__item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}
.service__item:hover .service__item--icon {
  color: #fff;
  background: #2e80ce;
}
.service__item--icon {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}
.service__item--heading {
  color: #10375c;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.service__item--desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.service__btn {
  margin-top: 55px;
}
/* =================work==================== */
.work {
  background: #f6fbff;
  padding: 100px 0;
}
.work__desc {
  width: 468px;
}
.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.work-item {
  padding: 43px;
  border: 16px solid #eaf6ff;
}
.work-item:hover {
  border: 16px solid #2e80ce;
  transition: 0.25s;
  transform: translateY(-16px);
}
.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}
.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.work-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #2e80ce;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.work-item__more:hover {
  font-weight: 600;
  transition: 0.25s;
}
/* ===================about====================== */
.about {
  padding: 85px 0 206px;
  margin-top: 85px;
}
.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__media {
  width: 49%;
}
.about-content {
  width: 40%;
}
.about__img {
  position: relative;
}
.about__img--big {
  display: flex;
  object-fit: cover;
  width: 512px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}
.about__img--small {
  object-fit: cover;
  width: 332px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 6px;
  position: absolute;
  top: 121px;
  left: 238px;
}
.about-content__btn {
  margin-top: 38px;
}
/* ==========================team=================== */
.team {
  padding: 85px 0;
}
.team__header {
  text-align: center;
}
.team__cta {
  margin-top: 38px;
}
.team__list {
  display: grid;
  margin-top: 70px;
  column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.team-item:hover .team-item__thumb {
  transform: scale(1.1);
  transition: 0.2s;
}
.team-item__thumb {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 6px;
  display: block;
}
.team-item__img--bg {
  background: #eaf6ff;
  padding-top: 28px;
  overflow: hidden;
}
.team-item__name {
  color: #10375c;
  text-align: center;
  margin-top: 12px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}
.team__control {
  justify-content: center;
  margin-top: 28px;
}
/* ==============================install================== */
.install__inner {
  height: 427px;
  border-radius: 4px;
  background: #2e80ce;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  position: relative;
  margin: 180px 0px 85px 0px;
}
.install__img {
  width: 284px;
  height: 522px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}
.install__content {
  max-width: 586px;
}
.install__heading {
  max-width: 489px;
  color: #fff;
}
.install__desc {
  max-width: 586px;
  margin-top: 18px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.install__row {
  margin-top: 38px;
  gap: 28px;
  display: flex;
  align-items: center;
}
/* ===========================blog======================== */
.blog {
  padding: 85px 0;
}
.blog__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__content--heading,
.blog__content--desc {
  margin-bottom: 28px;
}
.blog__content--heading {
  max-width: 470px;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}
.blog__content--desc {
  color: #10375c;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.blog__list {
  display: flex;
  column-gap: 30px;
}
.blog-item {
  width: 270px;
}
.blog-item__img {
  width: 100%;
}
.blog-item:hover .blog-item__img {
  transform: scale(1.1);
  transition: 0.25s;
  overflow: hidden;
}
.blog-item__content {
  padding: 0 22px;
}
.blog-item__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.625; /* 162.5% */
}
.blog-item__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
}
.blog-item__more {
  height: 18px;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 21px;
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}
